* {
  transition: 0.1s !important;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.container {
  border: 1px solid grey;
}

.container {
  padding-bottom: 1.5rem;
}

.output {
  display: flex;
  flex-direction: column;
}

.outNum {
  margin: 1rem 0;
}

.ex {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

.header {
  margin: 2rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid green;
}

.info-box {
  padding: 2rem;
  margin: 5px !important;
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
}

.output b {
  color: rgb(235, 102, 8);
  font-size: 1.4rem;
}
.logo {
  width: 250px;
}

.message-body {
  border-style: none !important;
  padding: none;
}

.container {
  margin: 0.4rem !important;
  border-radius: 3px;
  box-shadow: 0 0 4px grey;
}

.m-1 {
  margin-top: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.message {
  padding: 1rem;
  margin: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.1 !important;
}

.p-2 {
  padding: 0.2rem !important;
}
.p-0 {
  padding: 0 !important;
}
.has-text-orange {
  color: rgb(235, 102, 8);
}

/* is-loading */

/* checkbox */

.checkbox-close-info {
  margin: 1.5rem 0 !important;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  color: rgb(235, 102, 8);
  font-weight: bold;
  max-height: 50px;
}
input[type="checkbox"] {
  margin: 1rem;
  cursor: pointer;
  transform: scale(1.5);
}
.message {
  padding: 1rem !important;
}
.is-on-warranty {
  color: #fff;
  background-color: #48c774;
}
.check-is-warranty {
  color: #fff;
  background-color: orange;
}
.is-out-warranty {
  color: #fff;
  background-color: red;
}
.infobox {
  display: none;
}
.buttons {
  margin-top: 1rem;
}
.message-header {
  background-color: #00d1b2;
}
.message-header {
  background-color: rgb(235, 102, 8);
}
button.is-orange {
  background-color: rgb(235, 102, 8);
  color: #fff;
}

.is-justify-content-space-evenly {
  justify-content: space-evenly;
}

.content-mt-3 {
  margin-top: 3rem !important;
}
.info-mt-2 {
  margin-top: 2rem;
}
.btn-logo:hover .opacity0 {
  opacity: 0.7;
}
.logoStyle {
  color: rgb(235, 102, 8) !important;
}
.logoStyle:hover {
  color: rgb(230, 192, 137) !important;
}
.is-text-small {
  font-size: 0.8rem;
}
.arrow {
  margin-left: 1rem;
  display: flex;
}
.arrow::before {
  content: " View list ";
  margin-right: 5px;
}
.remove {
  margin-left: 1rem;
  display: flex;
}
.remove::before {
  content: "Remove ";
  margin-right: 5px;
}
.add::before {
  content: "Add ";
  margin-right: 5px;
}
.check::before {
  content: "Check ";
  margin-right: 5px;
}
.show-off {
  display: none;
}
.show-on {
  display: block !important;
}

.fa-arrow-circle-down {
  display: none;
}
.button {
  margin-left: 5px;
}
.button.is-dark i {
  color: #fff !important;
}
.container_view {
  max-width: 1200px;
  margin: 0 auto;
}
.list-scroll {
  max-height: 300px;
  overflow-y: scroll;
}
.list-item {
  list-style: decimal-leading-zero !important;
}
.button.is-danger {
  background-color: #c90c0c;
}
.button.is-danger.is-hovered,
.button.is-danger:hover {
  background-color: #b40909;
}
.tag:not(body) {
  width: 100%;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 15px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(185, 185, 185, 0.5);
  cursor: pointer;
}
::-webkit-scrollbar {
  cursor: pointer;
}

.bas-img {
  display: none;
  position: absolute;
  border: 1px solid black;
  z-index: 10;
  left: 150px;
  top: 150px;
  width: 200px;
  height: 220px;
  background: url("/bas.jpg") center;
}
